
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'Accueil</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Bienvenue sur notre site !</h1>
  <p>Nombre de requêtes effectuées : <%= requestCount %></p>
  <a href="http://localhost:5500/main/about">À propos</a>
</body>
</html>